body{
background-color: #aaa;
}

.container .row .service-box .board-Position
{
    color: var(--main-color);
    font-weight: bold;
}
 .container .row .service-box .text-muted
 {
     text-align: center;
 }
