<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About ACM-W</h2>
                <hr class="light">
                <p class="text-faded">Bacon ipsum dolor amet tri-tip picanha landjaeger, tenderloin pancetta short ribs pastrami bacon fatback. Pancetta ball tip venison bacon biltong corned beef filet mignon pastrami beef ribs fatback shankle flank meatball jerky. Cupim sirloin tri-tip kielbasa jerky venison bacon, tongue strip steak salami. Pastrami meatloaf meatball jerky, capicola porchetta bacon filet mignon jowl boudin. Pastrami frankfurter turkey capicola salami shank, chuck filet mignon brisket pork chop turducken kielbasa. Shank shoulder bresaola, kielbasa pastrami strip steak beef meatball meatloaf chicken.</p>
                <a href="#" class="btn btn-default btn-xl">Join Now!</a>
            </div>
        </div>
    </div>
</section>
