<section id="events">
  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading">Events</h2>
      <hr class="primary">
    </div>
    <br/>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <h3>Check-out our events calendar.<h3>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-8">
        <div id="calendar"></div>
        <script id="calendar-template" type="text/template">
          <div class="controls">
            <div class="clndr-previous-button">&lsaquo;</div><div class="month"><%= month %></div><div class="clndr-next-button">&rsaquo;</div>
          </div>

          <div class="days-container">
            <div class="days">
              <div class="headers">
                <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
              </div>
              <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
            </div>
          </div>
        </script>
      </div>
    </div>


    <!-- <div class="col-lg-4 col-lg-offset-2 text-right">
	    <iframe src="https://calendar.google.com/calendar/embed?src=jimmy_l%40csu.fullerton.edu&ctz=America/Los_Angeles" style="border: 0" width="500" height="300" frameborder="0" scrolling="no"></iframe>
		</div> -->
</section>
