
<section id="events">
    <div class="container">
        <div class="row">
        	<div class="col-lg-4 col-lg-offset-2 text-left">
        		<h2 class="section-heading">Events</h2>
        		<hr class="primary">
        		<h3>Event<h3>
                <p>Bacon ipsum dolor amet pork belly drumstick sirloin, bresaola cupim jowl tail prosciutto sausage beef ribs. Rump venison pork loin, spare ribs meatball shankle kevin filet mignon picanha ribeye ham hock shoulder pastrami. Drumstick beef ribs shoulder pig, short loin strip steak tenderloin flank short ribs hamburger pork swine meatloaf chuck. Rump filet mignon hamburger boudin spare ribs ground round. Prosciutto tongue bresaola, pork venison chuck bacon sirloin landjaeger salami ham hock. Brisket shoulder tenderloin ribeye pancetta tri-tip.</p>
        	</div>
            <div class="col-lg-4 col-lg-offset-2 text-right">
				<iframe src="https://calendar.google.com/calendar/embed?src=jimmy_l%40csu.fullerton.edu&ctz=America/Los_Angeles" style="border: 0" width="500" height="300" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>
</section>