<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>ACM-Women</h1>
            <hr>
            <p>CSU Fullerton ACM-W supports, celebrates, and advocates for the full engagement, education, and opportunities of women in all aspects of the computing field. We endeavor to provide a wide range of programs and services to students and advance, in the larger community, the contributions of technical women students</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
