<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row text-center">
      <h2 class="section-heading">Projects</h2>
      <hr class="primary">
    </div>
    <br/>
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                  Something
              </div>
              <div class="project-name">
                  ACM-W Teaching
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-8 col-sm-6">
        <p class="projectsDesc">The purpose of ACM-W in this event is to work with the Girl Scouts of Orange County and teach girls about the world of engineering. The goal of ACM-W is to get more girls interested in computer science by exposing them to programming at a young age.</p>
      </div>
    </div>
  </div>
</section>
