<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<!-- Moment JS -->
<script src="js/moment.js"></script>

<!-- Underscore JS -->
<script src="js/underscore.js"></script>

<!-- CLNDR JS -->
<script src="js/clndr.js"></script>

<!-- Custom JS -->
<script src="js/custom.js"></script>
