<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet the board</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/faces/1.jpg" class="img-circle wow bounceIn" />
                    <hr/>
                    <h3><span><small>President:</small></span>&nbsp;Natalie Ang</h3>
                    <p class="text-muted">Natalie is a kind and patient person but will be honest with you even if the truth hurts. The only thing she loves more than video games is food. She is methodical and she does her best in accomplishing her goals.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/faces/2.jpg" class="img-circle wow bounceIn" />
                    <hr/>
                    <h3><span><small>Vice President:</small></span>&nbsp;Sara Lipowsky</h3>
                    <p class="text-muted">Sara’s enthusiastic demeanor radiates wherever she goes and with whatever she does. She enjoys sharing her creative passions of programming and song writing with others. Learning from others and combining perspectives brings her great joy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/faces/3.jpg" class="img-circle wow bounceIn" />
                    <hr/>
                    <h3><span><small>Treasurer:</small></span>&nbsp;Diana Galvan</h3>
                    <p class="text-muted">Diana is such a caring and friendly person that it is no surprise that she would like to make software for hospitals. Those who meet Diana are immediately taken by her friendly demeanor. In her free time, she likes to express herself through art by painting beautiful pictures of her favorite Disney characters.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/faces/4.jpg" class="img-circle wow bounceIn" />
                    <hr/>
                    <h3><span class="title"><small>Secretary:</small></span>&nbsp;Leigh Salvador</h3>
                    <p class="text-muted">Leigh loves reading books, watching horror movies, and listening to pop&amp;rock music. Like many children destined to become computer scientists, when she found something she liked she went full throttle ahead: she once watched the movie "School of Rock” more than 5 times in the same day.</p>
                </div>
            </div>
        </div>
    </div>
</section>
