<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet the board</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/faces/1.jpg" class="img-circle wow bounceIn" />
                    <hr/>
                    <h3><span><small>President:</small></span>&nbsp;Natalie Ang</h3>
                    <p class="text-muted">Bacon ipsum dolor amet porchetta ham tongue, ribeye jerky kevin beef ribs andouille venison pork belly shankle ye kori morde.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/faces/2.jpg" class="img-circle wow bounceIn" />
                    <hr/>
                    <h3><span><small>Vice President:</small></span>&nbsp;Sara Lipowsky</h3>
                    <p class="text-muted">Bacon ipsum dolor amet pork chicken ribeye corned beef, frankfurter shankle tail meatloaf picanha alcatra ball tip tri-tip flank swine. Meatball chicken tri.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/faces/3.jpg" class="img-circle wow bounceIn" />
                    <hr/>
                    <h3><span><small>Treasurer:</small></span>&nbsp;Diana Galvan</h3>
                    <p class="text-muted">Diana is such a caring and friendly person that it is no surprise that she would like to make software for hospitals. Those who meet Diana are immediately taken by her friendly demeanor. In her free time, she likes to express herself through art by painting beautiful pictures of her favorite Disney characters.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/faces/4.jpg" class="img-circle wow bounceIn" />
                    <hr/>
                    <h3><span class="title"><small>Secretary:</small></span>&nbsp;Leigh Salvador</h3>
                    <p class="text-muted">Leigh loves reading books, watching horror movies, and listening to pop&amp;rock music. Like many children destined to become computer scientists, when she found something she liked she went full throttle ahead: she once watched the movie "School of Rock” more than 5 times in the same day.</p>
                </div>
            </div>
        </div>
    </div>
</section>
